<% include ../partials/header %>
<div class='container-fluid'>   
        <h1>
            SUGGESTED ACTIVITIES
        </h1><br>
        <div class='row'>
            <div class="col-lg-12">
                    <div class='card'>
                            <div class="list-group" id='list'>
                                    <% items.forEach(function(item, index) { %>
                                    <div class="list-group-item list-group-item-action flex-column" href="http://localhost:3000/suggestedact_details?id=<%=item.suggActivityID %>">              
                                        <h5><%=  item.title %>
                                            <a  href="http://localhost:3000/editact?id=<%=item.suggActivityID %>" class="edt"><button class='btn btn-warning pull-right'>Edit</button></a> 
                                            <a  href="http://localhost:3000/deleteact?id=<%=item.suggActivityID %>" class="del"><button class='btn btn-danger pull-right'>Remove</button></a></h5>
                                      <p><%=  item.content %>  </p>
                                      </div>
                                    <% }); %>
                            </div>
                            
                                  <form action="http://localhost:3000/suggestedact" method="POST" class="form-size">
                                      <div class='card-body'>
                                    <table class='uk-table'>

                                    <div class='form-group'>
                                      <tr>
                                            <td align='center'><label for='address'>Title: </label></td>   
                                            <td><input type="text" class='form-control' name="title" id="title" required></td>
                                            <td><button  class='btn btn-success pull-right' id='submit' name='submit' type='submit'>+ ADD</button></td>
                                     </tr>
                                    </div>
                                        
                                    <div class='form-group'>
                                        <tr>
                                            <td align='center'><label for='address'>Directions: </label></td>   
                                            <td><textarea name="content" id='content' cols="50" rows="10" required></textarea></td>
                                        </tr>
                                    </div>
                  
                                    </table>
                                    <br>
                                    </form>
                              </div>
                            </div>
            </div>
        </div>
   
</div>
<br>
    



<div class='card' id='subjects'>
    <ul class='list-inline'>
          <li class="list-inline-item">Science</li>
          <li class="list-inline-item">Technology</li>
          <li class="list-inline-item">Engineering</li>
          <li class="list-inline-item">Agriculture</li>
          <li class="list-inline-item">Fisheries</li>
          <li class="list-inline-item">Mathematics</li>
    </ul>
</div>
<script>
        $(".del").on("click",function(){
            return confirm("Delete Activity?");
    });
    </script>
<% include ../partials/footer %>